.container {
  display: flex;
  flex-direction: column;
}

.container__text {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgba(49, 49, 49, 0.7);
}

.transfers {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.numberOfTransfers {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgba(32, 32, 32, 0.7);
  margin-bottom: 15px;
  height: 30px;
}
