.container {
  display: flex;
  flex-direction: column;
}

.container__text {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgba(49, 49, 49, 0.7);
}

.transfers {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.numberOfTransfers {
  display: flex;
  align-items: center;
  width: 100%;
  color: rgba(32, 32, 32, 0.7);
  margin-bottom: 15px;
  height: 30px;
}

.numberOfTransfers__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.numberOfTransfers__checkbox :hover {
  cursor: pointer;
}

.numberOfTransfers:hover {
  background-color: rgb(236, 245, 248);
}

.numberOfTransfers__text {
  display: flex;
  align-items: center;
}

.numberOfTransfers__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.numberOfTransfers__text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.numberOfTransfers__checkbox:checked ~ .numberOfTransfers__text::before {
  border-color: #0b76ef;
  background-color: rgb(236, 245, 248);
  background-image: url("/assets/checkbox.png");
}

.numberOfTransfers__checkbox ~ .numberOfTransfers__text:hover {
  cursor: pointer;
}
